body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
/*Header*/
.fundo-login{
  background-image: url(../img/Screenshot_14.png);
  overflow: hidden;
}
.header {
  background-color: #0b5fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #eaeaea;
  padding: 0 20px;
}

.icones {
  justify-content: right;
  display: flex;
  align-self: center;
  gap: 40px;
}

.icones img {
  height: 44px;
  width: 44px;
}
/* Main (Login box)*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-box {
  background-color: #0b5fff;
  padding: 30px;
  border-radius: 30px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

form input[type="email"],
form input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #dcdcdc;
  font-size: 14px;
}

form button {
  width: 100%;
  padding: 15px;
  background-color: #666666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

form button:hover {
  background-color: #555555;
}

.forgot-password {
  text-align: right;
  margin-top: 5px;
}

.forgot-password a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.social-login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.social-login ul {
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-login ul a img {
  width: 30px;
  height: auto;
}

.register {
  margin-top: 20px;
}

.register a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
